<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>lastresortnotdefplanezero</string>
		<string>lastresortlatin</string>
		<string>lastresortlatin1</string>
		<string>lastresortlatina</string>
		<string>lastresortlatinb</string>
		<string>lastresortipaextensions</string>
		<string>lastresortspacingmodifiers</string>
		<string>lastresortcombiningdiacritics</string>
		<string>lastresortgreek</string>
		<string>lastresortcyrillic</string>
		<string>lastresortcyrillicsupplement</string>
		<string>lastresortarmenian</string>
		<string>lastresorthebrew</string>
		<string>lastresortarabic</string>
		<string>lastresortsyriac</string>
		<string>lastresortarabicsup</string>
		<string>lastresortthaana</string>
		<string>lastresortnko</string>
		<string>lastresortsamaritan</string>
		<string>lastresortmandaic</string>
		<string>lastresortsyriacsupplement</string>
		<string>lastresortarabicextb</string>
		<string>lastresortarabicexta</string>
		<string>lastresortdevanagari</string>
		<string>lastresortbengali</string>
		<string>lastresortgurmukhi</string>
		<string>lastresortgujarati</string>
		<string>lastresortoriya</string>
		<string>lastresorttamil</string>
		<string>lastresorttelugu</string>
		<string>lastresortkannada</string>
		<string>lastresortmalayalam</string>
		<string>lastresortsinhala</string>
		<string>lastresortthai</string>
		<string>lastresortlao</string>
		<string>lastresorttibetan</string>
		<string>lastresortmyanmar</string>
		<string>lastresortgeorgian</string>
		<string>lastresorthanguljamo</string>
		<string>lastresortethiopic</string>
		<string>lastresortethiopicsup</string>
		<string>lastresortcherokee</string>
		<string>lastresortcanadiansyllabics</string>
		<string>lastresortogham</string>
		<string>lastresortrunic</string>
		<string>lastresorttagalog</string>
		<string>lastresorthanunoo</string>
		<string>lastresortbuhid</string>
		<string>lastresorttagbanwa</string>
		<string>lastresortkhmer</string>
		<string>lastresortmongolian</string>
		<string>lastresortucasext</string>
		<string>lastresortlimbu</string>
		<string>lastresorttaile</string>
		<string>lastresortnewtailue</string>
		<string>lastresortkhmersymbols</string>
		<string>lastresortbuginese</string>
		<string>lastresorttaitham</string>
		<string>lastresortcmbdiacriticalmarksext</string>
		<string>lastresortbalinese</string>
		<string>lastresortsundanese</string>
		<string>lastresortbatak</string>
		<string>lastresortlepcha</string>
		<string>lastresortolchiki</string>
		<string>lastresortcyrillicextc</string>
		<string>lastresortgeorgianext</string>
		<string>lastresortsundanesesuppl</string>
		<string>lastresortvedicext</string>
		<string>lastresortphoneticext</string>
		<string>lastresortphoneticextsup</string>
		<string>lastresortcombiningdiacriticssup</string>
		<string>lastresortlatinext</string>
		<string>lastresortgreekext</string>
		<string>lastresortgeneralpunctuation</string>
		<string>lastresortsupersubscripts</string>
		<string>lastresortcurrency</string>
		<string>lastresortcombiningsymbols</string>
		<string>lastresortletterlikesymbols</string>
		<string>lastresortnumberforms</string>
		<string>lastresortarrows</string>
		<string>lastresortmathoperators</string>
		<string>lastresortmisctechnical</string>
		<string>lastresortcontrolpictures</string>
		<string>lastresortopticalrecognition</string>
		<string>lastresortenclosedalphanum</string>
		<string>lastresortboxdrawing</string>
		<string>lastresortblockelements</string>
		<string>lastresortgeometricshapes</string>
		<string>lastresortmiscsymbols</string>
		<string>lastresortdingbats</string>
		<string>lastresortmiscmathsymbolsa</string>
		<string>lastresortarrowssupplementa</string>
		<string>lastresortbraillesymbols</string>
		<string>lastresortarrowssupplementb</string>
		<string>lastresortmiscmathsymbolsb</string>
		<string>lastresortmathoperatorssup</string>
		<string>lastresortmiscsymbolsarrows</string>
		<string>lastresortglagolitic</string>
		<string>lastresortlatinc</string>
		<string>lastresortcoptic</string>
		<string>lastresortgeorgiansup</string>
		<string>lastresorttifinagh</string>
		<string>lastresortethiopicext</string>
		<string>lastresortcyrillicexta</string>
		<string>lastresortpunctuationsup</string>
		<string>lastresortcjkradicalssup</string>
		<string>lastresortkangxiradicals</string>
		<string>lastresortideographicdescript</string>
		<string>lastresortcjksymbolspunct</string>
		<string>lastresorthiragana</string>
		<string>lastresortkatakana</string>
		<string>lastresortbopomofo</string>
		<string>lastresortcompatibilityjamo</string>
		<string>lastresortkanbun</string>
		<string>lastresortbopomofoext</string>
		<string>lastresortcjkstrokes</string>
		<string>lastresortkatakanaext</string>
		<string>lastresortenclosedcjk</string>
		<string>lastresortcjkcompatibility</string>
		<string>lastresortcjkexta</string>
		<string>lastresortyijinghexagram</string>
		<string>lastresortcjkideograph</string>
		<string>lastresortyi</string>
		<string>lastresortyiradicals</string>
		<string>lastresortlisu</string>
		<string>lastresortvai</string>
		<string>lastresortcyrillicextb</string>
		<string>lastresortgurungkhema</string>
		<string>lastresortbamum</string>
		<string>lastresortmodifiertones</string>
		<string>lastresortlatind</string>
		<string>lastresortsylotinagri</string>
		<string>lastresortcommonindicnumforms</string>
		<string>lastresortphagspa</string>
		<string>lastresortsaurashtra</string>
		<string>lastresortdevanagariext</string>
		<string>lastresortkayahli</string>
		<string>lastresortrejang</string>
		<string>lastresorthanguljamoexta</string>
		<string>lastresortjavanese</string>
		<string>lastresortmyanmarextb</string>
		<string>lastresortcham</string>
		<string>lastresortmyanmarexta</string>
		<string>lastresorttaiviet</string>
		<string>lastresortmeeteimayekext</string>
		<string>lastresortethiopicexta</string>
		<string>lastresortlatine</string>
		<string>lastresortcherokeesupplement</string>
		<string>lastresortmeeteimayek</string>
		<string>lastresorthangulsyllables</string>
		<string>lastresorthanguljamoextb</string>
		<string>lastresorthighsurrogate</string>
		<string>lastresorthighprivatesurrogate</string>
		<string>lastresortlowsurrogate</string>
		<string>lastresortprivateuse</string>
		<string>lastresortcjkideographcompat</string>
		<string>lastresortalphapresentation</string>
		<string>lastresortarabicpresentationa</string>
		<string>lastresortnotaunicodearabic</string>
		<string>lastresortvariationselectors</string>
		<string>lastresortverticalforms</string>
		<string>lastresortcombininghalfforms</string>
		<string>lastresortcjkcompatibilityform</string>
		<string>lastresortsmallforms</string>
		<string>lastresortarabicpresentationb</string>
		<string>lastresorthalffullwidthforms</string>
		<string>lastresortspecials</string>
		<string>lastresortnotaunicode</string>
		<string>lastresortnotdefplaneone</string>
		<string>lastresortlinearbsyllabary</string>
		<string>lastresortlinearbideograms</string>
		<string>lastresortaegeannumbers</string>
		<string>lastresortgreeknumbers</string>
		<string>lastresortancientsymbols</string>
		<string>lastresortphaistosdisc</string>
		<string>lastresortlycian</string>
		<string>lastresortcarian</string>
		<string>lastresortcopticepactnumbers</string>
		<string>lastresortolditalic</string>
		<string>lastresortgothic</string>
		<string>lastresortoldpermic</string>
		<string>lastresortugaritic</string>
		<string>lastresortoldpersian</string>
		<string>lastresortdeseret</string>
		<string>lastresortshavian</string>
		<string>lastresortosmanya</string>
		<string>lastresortosage</string>
		<string>lastresortelbasan</string>
		<string>lastresortcaucasianalbanian</string>
		<string>lastresortvithkuqi</string>
		<string>lastresorttodhri</string>
		<string>lastresortlineara</string>
		<string>lastresortlatinf</string>
		<string>lastresortcypriot</string>
		<string>lastresortimperialaramaic</string>
		<string>lastresortpalmyrene</string>
		<string>lastresortnabataean</string>
		<string>lastresorthatran</string>
		<string>lastresortphoenician</string>
		<string>lastresortlydian</string>
		<string>lastresortmeroitichieroglyphs</string>
		<string>lastresortmeroiticcursive</string>
		<string>lastresortkharoshthi</string>
		<string>lastresortoldsoutharabian</string>
		<string>lastresortoldnortharabian</string>
		<string>lastresortmanichaean</string>
		<string>lastresortavestan</string>
		<string>lastresortinscrparthian</string>
		<string>lastresortinscrpahlavi</string>
		<string>lastresortpsalterpahlavi</string>
		<string>lastresortoldturkic</string>
		<string>lastresortoldhungarian</string>
		<string>lastresorthanifirohingya</string>
		<string>lastresortgaray</string>
		<string>lastresortruminumeralsym</string>
		<string>lastresortyezidi</string>
		<string>lastresortarabicextc</string>
		<string>lastresortoldsogdian</string>
		<string>lastresortsogdian</string>
		<string>lastresortolduyghur</string>
		<string>lastresortchorasmian</string>
		<string>lastresortelymaic</string>
		<string>lastresortbrahmi</string>
		<string>lastresortkaithi</string>
		<string>lastresortsorasompeng</string>
		<string>lastresortchakma</string>
		<string>lastresortmahajani</string>
		<string>lastresortsharada</string>
		<string>lastresortsinhalaarchaicnumbers</string>
		<string>lastresortkhojki</string>
		<string>lastresortmultani</string>
		<string>lastresortkhudawadi</string>
		<string>lastresortgrantha</string>
		<string>lastresorttulutigalari</string>
		<string>lastresortnewa</string>
		<string>lastresorttirhuta</string>
		<string>lastresortsiddham</string>
		<string>lastresortmodi</string>
		<string>lastresortmongoliansupplement</string>
		<string>lastresorttakri</string>
		<string>lastresortmyanmarextc</string>
		<string>lastresortahom</string>
		<string>lastresortdogra</string>
		<string>lastresortwarangciti</string>
		<string>lastresortdivesakuru</string>
		<string>lastresortnandinagari</string>
		<string>lastresortzanabazarsquare</string>
		<string>lastresortsoyombo</string>
		<string>lastresortucasexta</string>
		<string>lastresortpaucinhau</string>
		<string>lastresortdevanagariexta</string>
		<string>lastresortsunuwar</string>
		<string>lastresortbhaiksuki</string>
		<string>lastresortmarchen</string>
		<string>lastresortmasaramgondi</string>
		<string>lastresortgunjalagondi</string>
		<string>lastresortmakasar</string>
		<string>lastresortkawi</string>
		<string>lastresortlisusupplement</string>
		<string>lastresorttamilsupplement</string>
		<string>lastresortcuneiform</string>
		<string>lastresortcuneiformnumbers</string>
		<string>lastresortearlydynasticcuneiform</string>
		<string>lastresortcyprominoan</string>
		<string>lastresortegyptianhieroglyphs</string>
		<string>lastresortegypthiercontrols</string>
		<string>lastresortegyptianhieroglyphsexta</string>
		<string>lastresortanatolianhieroglyphs</string>
		<string>lastresortbamumsuppl</string>
		<string>lastresortmro</string>
		<string>lastresorttangsa</string>
		<string>lastresortbassavah</string>
		<string>lastresortpahawhhmong</string>
		<string>lastresortkiratrai</string>
		<string>lastresortmedefaidrin</string>
		<string>lastresortmiao</string>
		<string>lastresortideographicsymbolsandpunctuation</string>
		<string>lastresorttangut</string>
		<string>lastresorttangutcomponents</string>
		<string>lastresortkhitansmallscript</string>
		<string>lastresorttangutsupplement</string>
		<string>lastresortkanaextb</string>
		<string>lastresortkanasuppl</string>
		<string>lastresortkanaexta</string>
		<string>lastresortsmallkanaextension</string>
		<string>lastresortnushu</string>
		<string>lastresortduployan</string>
		<string>lastresortshorthandformatcntrls</string>
		<string>lastresortlegacycomputingsymbsupp</string>
		<string>lastresortznamennymusic</string>
		<string>lastresortbyzantinemusic</string>
		<string>lastresortmusicalsymbols</string>
		<string>lastresortgreekmusic</string>
		<string>lastresortkaktoviknumerals</string>
		<string>lastresortmayannumerals</string>
		<string>lastresorttaixuanjing</string>
		<string>lastresortcountingrods</string>
		<string>lastresortalphamathsymbols</string>
		<string>lastresortsuttonsignwriting</string>
		<string>lastresortlating</string>
		<string>lastresortglagoliticsupplement</string>
		<string>lastresortcyrillicextd</string>
		<string>lastresortnyiakengpuachuehmong</string>
		<string>lastresorttoto</string>
		<string>lastresortwancho</string>
		<string>lastresortnagmundari</string>
		<string>lastresortolonal</string>
		<string>lastresortethiopicextb</string>
		<string>lastresortmendekikakui</string>
		<string>lastresortadlam</string>
		<string>lastresortindicsiyaqnumbers</string>
		<string>lastresortottomansiyaqnumbers</string>
		<string>lastresortarabicmathalphasym</string>
		<string>lastresortmahjongtiles</string>
		<string>lastresortdominotiles</string>
		<string>lastresortplayingcards</string>
		<string>lastresortenclalphasuppl</string>
		<string>lastresortenclideographicsuppl</string>
		<string>lastresortmiscsymandpict</string>
		<string>lastresortemoticons</string>
		<string>lastresortornamentaldingbats</string>
		<string>lastresorttransportandmapsym</string>
		<string>lastresortalchemicalsym</string>
		<string>lastresortgeometricshapesext</string>
		<string>lastresortsupplementalarrowsc</string>
		<string>lastresortsupplementalsymbpict</string>
		<string>lastresortchesssymbols</string>
		<string>lastresortsymbpictexta</string>
		<string>lastresortlegacycomputingsymb</string>
		<string>lastresortnotaunicode1</string>
		<string>lastresortnotdefplanetwo</string>
		<string>lastresortcjkextb</string>
		<string>lastresortcjkextc</string>
		<string>lastresortcjkextd</string>
		<string>lastresortcjkexte</string>
		<string>lastresortcjkextf</string>
		<string>lastresortcjkexti</string>
		<string>lastresortcjkideocompatsup</string>
		<string>lastresortnotaunicode2</string>
		<string>lastresortnotdefplanethree</string>
		<string>lastresortcjkextg</string>
		<string>lastresortcjkexth</string>
		<string>lastresortnotaunicode3</string>
		<string>lastresortnotdefplanefour</string>
		<string>lastresortnotaunicode4</string>
		<string>lastresortnotdefplanefive</string>
		<string>lastresortnotaunicode5</string>
		<string>lastresortnotdefplanesix</string>
		<string>lastresortnotaunicode6</string>
		<string>lastresortnotdefplaneseven</string>
		<string>lastresortnotaunicode7</string>
		<string>lastresortnotdefplaneeight</string>
		<string>lastresortnotaunicode8</string>
		<string>lastresortnotdefplanenine</string>
		<string>lastresortnotaunicode9</string>
		<string>lastresortnotdefplaneten</string>
		<string>lastresortnotaunicode10</string>
		<string>lastresortnotdefplaneeleven</string>
		<string>lastresortnotaunicode11</string>
		<string>lastresortnotdefplanetwelve</string>
		<string>lastresortnotaunicode12</string>
		<string>lastresortnotdefplanethirteen</string>
		<string>lastresortnotaunicode13</string>
		<string>lastresortnotdefplanefourteen</string>
		<string>lastresorttags</string>
		<string>lastresortvariationselectorssupplement</string>
		<string>lastresortnotaunicode14</string>
		<string>lastresortprivateplane15</string>
		<string>lastresortnotaunicode15</string>
		<string>lastresortprivateplane16</string>
		<string>lastresortnotaunicode16</string>
	</array>
</dict>
</plist>
