<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>lastresortnotdefplanezero</key>
	<string>lastresortnotdefplanezero.glif</string>
	<key>lastresortlatin</key>
	<string>lastresortlatin.glif</string>
	<key>lastresortlatin1</key>
	<string>lastresortlatin1.glif</string>
	<key>lastresortlatina</key>
	<string>lastresortlatina.glif</string>
	<key>lastresortlatinb</key>
	<string>lastresortlatinb.glif</string>
	<key>lastresortipaextensions</key>
	<string>lastresortipaextensions.glif</string>
	<key>lastresortspacingmodifiers</key>
	<string>lastresortspacingmodifiers.glif</string>
	<key>lastresortcombiningdiacritics</key>
	<string>lastresortcombiningdiacritics.glif</string>
	<key>lastresortgreek</key>
	<string>lastresortgreek.glif</string>
	<key>lastresortcyrillic</key>
	<string>lastresortcyrillic.glif</string>
	<key>lastresortcyrillicsupplement</key>
	<string>lastresortcyrillicsupplement.glif</string>
	<key>lastresortarmenian</key>
	<string>lastresortarmenian.glif</string>
	<key>lastresorthebrew</key>
	<string>lastresorthebrew.glif</string>
	<key>lastresortarabic</key>
	<string>lastresortarabic.glif</string>
	<key>lastresortsyriac</key>
	<string>lastresortsyriac.glif</string>
	<key>lastresortarabicsup</key>
	<string>lastresortarabicsup.glif</string>
	<key>lastresortthaana</key>
	<string>lastresortthaana.glif</string>
	<key>lastresortnko</key>
	<string>lastresortnko.glif</string>
	<key>lastresortsamaritan</key>
	<string>lastresortsamaritan.glif</string>
	<key>lastresortmandaic</key>
	<string>lastresortmandaic.glif</string>
	<key>lastresortsyriacsupplement</key>
	<string>lastresortsyriacsupplement.glif</string>
	<key>lastresortarabicextb</key>
	<string>lastresortarabicextb.glif</string>
	<key>lastresortarabicexta</key>
	<string>lastresortarabicexta.glif</string>
	<key>lastresortdevanagari</key>
	<string>lastresortdevanagari.glif</string>
	<key>lastresortbengali</key>
	<string>lastresortbengali.glif</string>
	<key>lastresortgurmukhi</key>
	<string>lastresortgurmukhi.glif</string>
	<key>lastresortgujarati</key>
	<string>lastresortgujarati.glif</string>
	<key>lastresortoriya</key>
	<string>lastresortoriya.glif</string>
	<key>lastresorttamil</key>
	<string>lastresorttamil.glif</string>
	<key>lastresorttelugu</key>
	<string>lastresorttelugu.glif</string>
	<key>lastresortkannada</key>
	<string>lastresortkannada.glif</string>
	<key>lastresortmalayalam</key>
	<string>lastresortmalayalam.glif</string>
	<key>lastresortsinhala</key>
	<string>lastresortsinhala.glif</string>
	<key>lastresortthai</key>
	<string>lastresortthai.glif</string>
	<key>lastresortlao</key>
	<string>lastresortlao.glif</string>
	<key>lastresorttibetan</key>
	<string>lastresorttibetan.glif</string>
	<key>lastresortmyanmar</key>
	<string>lastresortmyanmar.glif</string>
	<key>lastresortgeorgian</key>
	<string>lastresortgeorgian.glif</string>
	<key>lastresorthanguljamo</key>
	<string>lastresorthanguljamo.glif</string>
	<key>lastresortethiopic</key>
	<string>lastresortethiopic.glif</string>
	<key>lastresortethiopicsup</key>
	<string>lastresortethiopicsup.glif</string>
	<key>lastresortcherokee</key>
	<string>lastresortcherokee.glif</string>
	<key>lastresortcanadiansyllabics</key>
	<string>lastresortcanadiansyllabics.glif</string>
	<key>lastresortogham</key>
	<string>lastresortogham.glif</string>
	<key>lastresortrunic</key>
	<string>lastresortrunic.glif</string>
	<key>lastresorttagalog</key>
	<string>lastresorttagalog.glif</string>
	<key>lastresorthanunoo</key>
	<string>lastresorthanunoo.glif</string>
	<key>lastresortbuhid</key>
	<string>lastresortbuhid.glif</string>
	<key>lastresorttagbanwa</key>
	<string>lastresorttagbanwa.glif</string>
	<key>lastresortkhmer</key>
	<string>lastresortkhmer.glif</string>
	<key>lastresortmongolian</key>
	<string>lastresortmongolian.glif</string>
	<key>lastresortucasext</key>
	<string>lastresortucasext.glif</string>
	<key>lastresortlimbu</key>
	<string>lastresortlimbu.glif</string>
	<key>lastresorttaile</key>
	<string>lastresorttaile.glif</string>
	<key>lastresortnewtailue</key>
	<string>lastresortnewtailue.glif</string>
	<key>lastresortkhmersymbols</key>
	<string>lastresortkhmersymbols.glif</string>
	<key>lastresortbuginese</key>
	<string>lastresortbuginese.glif</string>
	<key>lastresorttaitham</key>
	<string>lastresorttaitham.glif</string>
	<key>lastresortcmbdiacriticalmarksext</key>
	<string>lastresortcmbdiacriticalmarksext.glif</string>
	<key>lastresortbalinese</key>
	<string>lastresortbalinese.glif</string>
	<key>lastresortsundanese</key>
	<string>lastresortsundanese.glif</string>
	<key>lastresortbatak</key>
	<string>lastresortbatak.glif</string>
	<key>lastresortlepcha</key>
	<string>lastresortlepcha.glif</string>
	<key>lastresortolchiki</key>
	<string>lastresortolchiki.glif</string>
	<key>lastresortcyrillicextc</key>
	<string>lastresortcyrillicextc.glif</string>
	<key>lastresortgeorgianext</key>
	<string>lastresortgeorgianext.glif</string>
	<key>lastresortsundanesesuppl</key>
	<string>lastresortsundanesesuppl.glif</string>
	<key>lastresortvedicext</key>
	<string>lastresortvedicext.glif</string>
	<key>lastresortphoneticext</key>
	<string>lastresortphoneticext.glif</string>
	<key>lastresortphoneticextsup</key>
	<string>lastresortphoneticextsup.glif</string>
	<key>lastresortcombiningdiacriticssup</key>
	<string>lastresortcombiningdiacriticssup.glif</string>
	<key>lastresortlatinext</key>
	<string>lastresortlatinext.glif</string>
	<key>lastresortgreekext</key>
	<string>lastresortgreekext.glif</string>
	<key>lastresortgeneralpunctuation</key>
	<string>lastresortgeneralpunctuation.glif</string>
	<key>lastresortsupersubscripts</key>
	<string>lastresortsupersubscripts.glif</string>
	<key>lastresortcurrency</key>
	<string>lastresortcurrency.glif</string>
	<key>lastresortcombiningsymbols</key>
	<string>lastresortcombiningsymbols.glif</string>
	<key>lastresortletterlikesymbols</key>
	<string>lastresortletterlikesymbols.glif</string>
	<key>lastresortnumberforms</key>
	<string>lastresortnumberforms.glif</string>
	<key>lastresortarrows</key>
	<string>lastresortarrows.glif</string>
	<key>lastresortmathoperators</key>
	<string>lastresortmathoperators.glif</string>
	<key>lastresortmisctechnical</key>
	<string>lastresortmisctechnical.glif</string>
	<key>lastresortcontrolpictures</key>
	<string>lastresortcontrolpictures.glif</string>
	<key>lastresortopticalrecognition</key>
	<string>lastresortopticalrecognition.glif</string>
	<key>lastresortenclosedalphanum</key>
	<string>lastresortenclosedalphanum.glif</string>
	<key>lastresortboxdrawing</key>
	<string>lastresortboxdrawing.glif</string>
	<key>lastresortblockelements</key>
	<string>lastresortblockelements.glif</string>
	<key>lastresortgeometricshapes</key>
	<string>lastresortgeometricshapes.glif</string>
	<key>lastresortmiscsymbols</key>
	<string>lastresortmiscsymbols.glif</string>
	<key>lastresortdingbats</key>
	<string>lastresortdingbats.glif</string>
	<key>lastresortmiscmathsymbolsa</key>
	<string>lastresortmiscmathsymbolsa.glif</string>
	<key>lastresortarrowssupplementa</key>
	<string>lastresortarrowssupplementa.glif</string>
	<key>lastresortbraillesymbols</key>
	<string>lastresortbraillesymbols.glif</string>
	<key>lastresortarrowssupplementb</key>
	<string>lastresortarrowssupplementb.glif</string>
	<key>lastresortmiscmathsymbolsb</key>
	<string>lastresortmiscmathsymbolsb.glif</string>
	<key>lastresortmathoperatorssup</key>
	<string>lastresortmathoperatorssup.glif</string>
	<key>lastresortmiscsymbolsarrows</key>
	<string>lastresortmiscsymbolsarrows.glif</string>
	<key>lastresortglagolitic</key>
	<string>lastresortglagolitic.glif</string>
	<key>lastresortlatinc</key>
	<string>lastresortlatinc.glif</string>
	<key>lastresortcoptic</key>
	<string>lastresortcoptic.glif</string>
	<key>lastresortgeorgiansup</key>
	<string>lastresortgeorgiansup.glif</string>
	<key>lastresorttifinagh</key>
	<string>lastresorttifinagh.glif</string>
	<key>lastresortethiopicext</key>
	<string>lastresortethiopicext.glif</string>
	<key>lastresortcyrillicexta</key>
	<string>lastresortcyrillicexta.glif</string>
	<key>lastresortpunctuationsup</key>
	<string>lastresortpunctuationsup.glif</string>
	<key>lastresortcjkradicalssup</key>
	<string>lastresortcjkradicalssup.glif</string>
	<key>lastresortkangxiradicals</key>
	<string>lastresortkangxiradicals.glif</string>
	<key>lastresortideographicdescript</key>
	<string>lastresortideographicdescript.glif</string>
	<key>lastresortcjksymbolspunct</key>
	<string>lastresortcjksymbolspunct.glif</string>
	<key>lastresorthiragana</key>
	<string>lastresorthiragana.glif</string>
	<key>lastresortkatakana</key>
	<string>lastresortkatakana.glif</string>
	<key>lastresortbopomofo</key>
	<string>lastresortbopomofo.glif</string>
	<key>lastresortcompatibilityjamo</key>
	<string>lastresortcompatibilityjamo.glif</string>
	<key>lastresortkanbun</key>
	<string>lastresortkanbun.glif</string>
	<key>lastresortbopomofoext</key>
	<string>lastresortbopomofoext.glif</string>
	<key>lastresortcjkstrokes</key>
	<string>lastresortcjkstrokes.glif</string>
	<key>lastresortkatakanaext</key>
	<string>lastresortkatakanaext.glif</string>
	<key>lastresortenclosedcjk</key>
	<string>lastresortenclosedcjk.glif</string>
	<key>lastresortcjkcompatibility</key>
	<string>lastresortcjkcompatibility.glif</string>
	<key>lastresortcjkexta</key>
	<string>lastresortcjkexta.glif</string>
	<key>lastresortyijinghexagram</key>
	<string>lastresortyijinghexagram.glif</string>
	<key>lastresortcjkideograph</key>
	<string>lastresortcjkideograph.glif</string>
	<key>lastresortyi</key>
	<string>lastresortyi.glif</string>
	<key>lastresortyiradicals</key>
	<string>lastresortyiradicals.glif</string>
	<key>lastresortlisu</key>
	<string>lastresortlisu.glif</string>
	<key>lastresortvai</key>
	<string>lastresortvai.glif</string>
	<key>lastresortcyrillicextb</key>
	<string>lastresortcyrillicextb.glif</string>
	<key>lastresortgurungkhema</key>
	<string>lastresortgurungkhema.glif</string>
	<key>lastresortbamum</key>
	<string>lastresortbamum.glif</string>
	<key>lastresortmodifiertones</key>
	<string>lastresortmodifiertones.glif</string>
	<key>lastresortlatind</key>
	<string>lastresortlatind.glif</string>
	<key>lastresortsylotinagri</key>
	<string>lastresortsylotinagri.glif</string>
	<key>lastresortcommonindicnumforms</key>
	<string>lastresortcommonindicnumforms.glif</string>
	<key>lastresortphagspa</key>
	<string>lastresortphagspa.glif</string>
	<key>lastresortsaurashtra</key>
	<string>lastresortsaurashtra.glif</string>
	<key>lastresortdevanagariext</key>
	<string>lastresortdevanagariext.glif</string>
	<key>lastresortkayahli</key>
	<string>lastresortkayahli.glif</string>
	<key>lastresortrejang</key>
	<string>lastresortrejang.glif</string>
	<key>lastresorthanguljamoexta</key>
	<string>lastresorthanguljamoexta.glif</string>
	<key>lastresortjavanese</key>
	<string>lastresortjavanese.glif</string>
	<key>lastresortmyanmarextb</key>
	<string>lastresortmyanmarextb.glif</string>
	<key>lastresortcham</key>
	<string>lastresortcham.glif</string>
	<key>lastresortmyanmarexta</key>
	<string>lastresortmyanmarexta.glif</string>
	<key>lastresorttaiviet</key>
	<string>lastresorttaiviet.glif</string>
	<key>lastresortmeeteimayekext</key>
	<string>lastresortmeeteimayekext.glif</string>
	<key>lastresortethiopicexta</key>
	<string>lastresortethiopicexta.glif</string>
	<key>lastresortlatine</key>
	<string>lastresortlatine.glif</string>
	<key>lastresortcherokeesupplement</key>
	<string>lastresortcherokeesupplement.glif</string>
	<key>lastresortmeeteimayek</key>
	<string>lastresortmeeteimayek.glif</string>
	<key>lastresorthangulsyllables</key>
	<string>lastresorthangulsyllables.glif</string>
	<key>lastresorthanguljamoextb</key>
	<string>lastresorthanguljamoextb.glif</string>
	<key>lastresorthighsurrogate</key>
	<string>lastresorthighsurrogate.glif</string>
	<key>lastresorthighprivatesurrogate</key>
	<string>lastresorthighprivatesurrogate.glif</string>
	<key>lastresortlowsurrogate</key>
	<string>lastresortlowsurrogate.glif</string>
	<key>lastresortprivateuse</key>
	<string>lastresortprivateuse.glif</string>
	<key>lastresortcjkideographcompat</key>
	<string>lastresortcjkideographcompat.glif</string>
	<key>lastresortalphapresentation</key>
	<string>lastresortalphapresentation.glif</string>
	<key>lastresortarabicpresentationa</key>
	<string>lastresortarabicpresentationa.glif</string>
	<key>lastresortnotaunicodearabic</key>
	<string>lastresortnotaunicodearabic.glif</string>
	<key>lastresortvariationselectors</key>
	<string>lastresortvariationselectors.glif</string>
	<key>lastresortverticalforms</key>
	<string>lastresortverticalforms.glif</string>
	<key>lastresortcombininghalfforms</key>
	<string>lastresortcombininghalfforms.glif</string>
	<key>lastresortcjkcompatibilityform</key>
	<string>lastresortcjkcompatibilityform.glif</string>
	<key>lastresortsmallforms</key>
	<string>lastresortsmallforms.glif</string>
	<key>lastresortarabicpresentationb</key>
	<string>lastresortarabicpresentationb.glif</string>
	<key>lastresorthalffullwidthforms</key>
	<string>lastresorthalffullwidthforms.glif</string>
	<key>lastresortspecials</key>
	<string>lastresortspecials.glif</string>
	<key>lastresortnotaunicode</key>
	<string>lastresortnotaunicode.glif</string>
	<key>lastresortnotdefplaneone</key>
	<string>lastresortnotdefplaneone.glif</string>
	<key>lastresortlinearbsyllabary</key>
	<string>lastresortlinearbsyllabary.glif</string>
	<key>lastresortlinearbideograms</key>
	<string>lastresortlinearbideograms.glif</string>
	<key>lastresortaegeannumbers</key>
	<string>lastresortaegeannumbers.glif</string>
	<key>lastresortgreeknumbers</key>
	<string>lastresortgreeknumbers.glif</string>
	<key>lastresortancientsymbols</key>
	<string>lastresortancientsymbols.glif</string>
	<key>lastresortphaistosdisc</key>
	<string>lastresortphaistosdisc.glif</string>
	<key>lastresortlycian</key>
	<string>lastresortlycian.glif</string>
	<key>lastresortcarian</key>
	<string>lastresortcarian.glif</string>
	<key>lastresortcopticepactnumbers</key>
	<string>lastresortcopticepactnumbers.glif</string>
	<key>lastresortolditalic</key>
	<string>lastresortolditalic.glif</string>
	<key>lastresortgothic</key>
	<string>lastresortgothic.glif</string>
	<key>lastresortoldpermic</key>
	<string>lastresortoldpermic.glif</string>
	<key>lastresortugaritic</key>
	<string>lastresortugaritic.glif</string>
	<key>lastresortoldpersian</key>
	<string>lastresortoldpersian.glif</string>
	<key>lastresortdeseret</key>
	<string>lastresortdeseret.glif</string>
	<key>lastresortshavian</key>
	<string>lastresortshavian.glif</string>
	<key>lastresortosmanya</key>
	<string>lastresortosmanya.glif</string>
	<key>lastresortosage</key>
	<string>lastresortosage.glif</string>
	<key>lastresortelbasan</key>
	<string>lastresortelbasan.glif</string>
	<key>lastresortcaucasianalbanian</key>
	<string>lastresortcaucasianalbanian.glif</string>
	<key>lastresortvithkuqi</key>
	<string>lastresortvithkuqi.glif</string>
	<key>lastresorttodhri</key>
	<string>lastresorttodhri.glif</string>
	<key>lastresortlineara</key>
	<string>lastresortlineara.glif</string>
	<key>lastresortlatinf</key>
	<string>lastresortlatinf.glif</string>
	<key>lastresortcypriot</key>
	<string>lastresortcypriot.glif</string>
	<key>lastresortimperialaramaic</key>
	<string>lastresortimperialaramaic.glif</string>
	<key>lastresortpalmyrene</key>
	<string>lastresortpalmyrene.glif</string>
	<key>lastresortnabataean</key>
	<string>lastresortnabataean.glif</string>
	<key>lastresorthatran</key>
	<string>lastresorthatran.glif</string>
	<key>lastresortphoenician</key>
	<string>lastresortphoenician.glif</string>
	<key>lastresortlydian</key>
	<string>lastresortlydian.glif</string>
	<key>lastresortmeroitichieroglyphs</key>
	<string>lastresortmeroitichieroglyphs.glif</string>
	<key>lastresortmeroiticcursive</key>
	<string>lastresortmeroiticcursive.glif</string>
	<key>lastresortkharoshthi</key>
	<string>lastresortkharoshthi.glif</string>
	<key>lastresortoldsoutharabian</key>
	<string>lastresortoldsoutharabian.glif</string>
	<key>lastresortoldnortharabian</key>
	<string>lastresortoldnortharabian.glif</string>
	<key>lastresortmanichaean</key>
	<string>lastresortmanichaean.glif</string>
	<key>lastresortavestan</key>
	<string>lastresortavestan.glif</string>
	<key>lastresortinscrparthian</key>
	<string>lastresortinscrparthian.glif</string>
	<key>lastresortinscrpahlavi</key>
	<string>lastresortinscrpahlavi.glif</string>
	<key>lastresortpsalterpahlavi</key>
	<string>lastresortpsalterpahlavi.glif</string>
	<key>lastresortoldturkic</key>
	<string>lastresortoldturkic.glif</string>
	<key>lastresortoldhungarian</key>
	<string>lastresortoldhungarian.glif</string>
	<key>lastresorthanifirohingya</key>
	<string>lastresorthanifirohingya.glif</string>
	<key>lastresortgaray</key>
	<string>lastresortgaray.glif</string>
	<key>lastresortruminumeralsym</key>
	<string>lastresortruminumeralsym.glif</string>
	<key>lastresortyezidi</key>
	<string>lastresortyezidi.glif</string>
	<key>lastresortarabicextc</key>
	<string>lastresortarabicextc.glif</string>
	<key>lastresortoldsogdian</key>
	<string>lastresortoldsogdian.glif</string>
	<key>lastresortsogdian</key>
	<string>lastresortsogdian.glif</string>
	<key>lastresortolduyghur</key>
	<string>lastresortolduyghur.glif</string>
	<key>lastresortchorasmian</key>
	<string>lastresortchorasmian.glif</string>
	<key>lastresortelymaic</key>
	<string>lastresortelymaic.glif</string>
	<key>lastresortbrahmi</key>
	<string>lastresortbrahmi.glif</string>
	<key>lastresortkaithi</key>
	<string>lastresortkaithi.glif</string>
	<key>lastresortsorasompeng</key>
	<string>lastresortsorasompeng.glif</string>
	<key>lastresortchakma</key>
	<string>lastresortchakma.glif</string>
	<key>lastresortmahajani</key>
	<string>lastresortmahajani.glif</string>
	<key>lastresortsharada</key>
	<string>lastresortsharada.glif</string>
	<key>lastresortsinhalaarchaicnumbers</key>
	<string>lastresortsinhalaarchaicnumbers.glif</string>
	<key>lastresortkhojki</key>
	<string>lastresortkhojki.glif</string>
	<key>lastresortmultani</key>
	<string>lastresortmultani.glif</string>
	<key>lastresortkhudawadi</key>
	<string>lastresortkhudawadi.glif</string>
	<key>lastresortgrantha</key>
	<string>lastresortgrantha.glif</string>
	<key>lastresorttulutigalari</key>
	<string>lastresorttulutigalari.glif</string>
	<key>lastresortnewa</key>
	<string>lastresortnewa.glif</string>
	<key>lastresorttirhuta</key>
	<string>lastresorttirhuta.glif</string>
	<key>lastresortsiddham</key>
	<string>lastresortsiddham.glif</string>
	<key>lastresortmodi</key>
	<string>lastresortmodi.glif</string>
	<key>lastresortmongoliansupplement</key>
	<string>lastresortmongoliansupplement.glif</string>
	<key>lastresorttakri</key>
	<string>lastresorttakri.glif</string>
	<key>lastresortmyanmarextc</key>
	<string>lastresortmyanmarextc.glif</string>
	<key>lastresortahom</key>
	<string>lastresortahom.glif</string>
	<key>lastresortdogra</key>
	<string>lastresortdogra.glif</string>
	<key>lastresortwarangciti</key>
	<string>lastresortwarangciti.glif</string>
	<key>lastresortdivesakuru</key>
	<string>lastresortdivesakuru.glif</string>
	<key>lastresortnandinagari</key>
	<string>lastresortnandinagari.glif</string>
	<key>lastresortzanabazarsquare</key>
	<string>lastresortzanabazarsquare.glif</string>
	<key>lastresortsoyombo</key>
	<string>lastresortsoyombo.glif</string>
	<key>lastresortucasexta</key>
	<string>lastresortucasexta.glif</string>
	<key>lastresortpaucinhau</key>
	<string>lastresortpaucinhau.glif</string>
	<key>lastresortdevanagariexta</key>
	<string>lastresortdevanagariexta.glif</string>
	<key>lastresortsunuwar</key>
	<string>lastresortsunuwar.glif</string>
	<key>lastresortbhaiksuki</key>
	<string>lastresortbhaiksuki.glif</string>
	<key>lastresortmarchen</key>
	<string>lastresortmarchen.glif</string>
	<key>lastresortmasaramgondi</key>
	<string>lastresortmasaramgondi.glif</string>
	<key>lastresortgunjalagondi</key>
	<string>lastresortgunjalagondi.glif</string>
	<key>lastresortmakasar</key>
	<string>lastresortmakasar.glif</string>
	<key>lastresortkawi</key>
	<string>lastresortkawi.glif</string>
	<key>lastresortlisusupplement</key>
	<string>lastresortlisusupplement.glif</string>
	<key>lastresorttamilsupplement</key>
	<string>lastresorttamilsupplement.glif</string>
	<key>lastresortcuneiform</key>
	<string>lastresortcuneiform.glif</string>
	<key>lastresortcuneiformnumbers</key>
	<string>lastresortcuneiformnumbers.glif</string>
	<key>lastresortearlydynasticcuneiform</key>
	<string>lastresortearlydynasticcuneiform.glif</string>
	<key>lastresortcyprominoan</key>
	<string>lastresortcyprominoan.glif</string>
	<key>lastresortegyptianhieroglyphs</key>
	<string>lastresortegyptianhieroglyphs.glif</string>
	<key>lastresortegypthiercontrols</key>
	<string>lastresortegypthiercontrols.glif</string>
	<key>lastresortegyptianhieroglyphsexta</key>
	<string>lastresortegyptianhieroglyphsexta.glif</string>
	<key>lastresortanatolianhieroglyphs</key>
	<string>lastresortanatolianhieroglyphs.glif</string>
	<key>lastresortbamumsuppl</key>
	<string>lastresortbamumsuppl.glif</string>
	<key>lastresortmro</key>
	<string>lastresortmro.glif</string>
	<key>lastresorttangsa</key>
	<string>lastresorttangsa.glif</string>
	<key>lastresortbassavah</key>
	<string>lastresortbassavah.glif</string>
	<key>lastresortpahawhhmong</key>
	<string>lastresortpahawhhmong.glif</string>
	<key>lastresortkiratrai</key>
	<string>lastresortkiratrai.glif</string>
	<key>lastresortmedefaidrin</key>
	<string>lastresortmedefaidrin.glif</string>
	<key>lastresortmiao</key>
	<string>lastresortmiao.glif</string>
	<key>lastresortideographicsymbolsandpunctuation</key>
	<string>lastresortideographicsymbolsandpunctuation.glif</string>
	<key>lastresorttangut</key>
	<string>lastresorttangut.glif</string>
	<key>lastresorttangutcomponents</key>
	<string>lastresorttangutcomponents.glif</string>
	<key>lastresortkhitansmallscript</key>
	<string>lastresortkhitansmallscript.glif</string>
	<key>lastresorttangutsupplement</key>
	<string>lastresorttangutsupplement.glif</string>
	<key>lastresortkanaextb</key>
	<string>lastresortkanaextb.glif</string>
	<key>lastresortkanasuppl</key>
	<string>lastresortkanasuppl.glif</string>
	<key>lastresortkanaexta</key>
	<string>lastresortkanaexta.glif</string>
	<key>lastresortsmallkanaextension</key>
	<string>lastresortsmallkanaextension.glif</string>
	<key>lastresortnushu</key>
	<string>lastresortnushu.glif</string>
	<key>lastresortduployan</key>
	<string>lastresortduployan.glif</string>
	<key>lastresortshorthandformatcntrls</key>
	<string>lastresortshorthandformatcntrls.glif</string>
	<key>lastresortlegacycomputingsymbsupp</key>
	<string>lastresortlegacycomputingsymbsupp.glif</string>
	<key>lastresortznamennymusic</key>
	<string>lastresortznamennymusic.glif</string>
	<key>lastresortbyzantinemusic</key>
	<string>lastresortbyzantinemusic.glif</string>
	<key>lastresortmusicalsymbols</key>
	<string>lastresortmusicalsymbols.glif</string>
	<key>lastresortgreekmusic</key>
	<string>lastresortgreekmusic.glif</string>
	<key>lastresortkaktoviknumerals</key>
	<string>lastresortkaktoviknumerals.glif</string>
	<key>lastresortmayannumerals</key>
	<string>lastresortmayannumerals.glif</string>
	<key>lastresorttaixuanjing</key>
	<string>lastresorttaixuanjing.glif</string>
	<key>lastresortcountingrods</key>
	<string>lastresortcountingrods.glif</string>
	<key>lastresortalphamathsymbols</key>
	<string>lastresortalphamathsymbols.glif</string>
	<key>lastresortsuttonsignwriting</key>
	<string>lastresortsuttonsignwriting.glif</string>
	<key>lastresortlating</key>
	<string>lastresortlating.glif</string>
	<key>lastresortglagoliticsupplement</key>
	<string>lastresortglagoliticsupplement.glif</string>
	<key>lastresortcyrillicextd</key>
	<string>lastresortcyrillicextd.glif</string>
	<key>lastresortnyiakengpuachuehmong</key>
	<string>lastresortnyiakengpuachuehmong.glif</string>
	<key>lastresorttoto</key>
	<string>lastresorttoto.glif</string>
	<key>lastresortwancho</key>
	<string>lastresortwancho.glif</string>
	<key>lastresortnagmundari</key>
	<string>lastresortnagmundari.glif</string>
	<key>lastresortolonal</key>
	<string>lastresortolonal.glif</string>
	<key>lastresortethiopicextb</key>
	<string>lastresortethiopicextb.glif</string>
	<key>lastresortmendekikakui</key>
	<string>lastresortmendekikakui.glif</string>
	<key>lastresortadlam</key>
	<string>lastresortadlam.glif</string>
	<key>lastresortindicsiyaqnumbers</key>
	<string>lastresortindicsiyaqnumbers.glif</string>
	<key>lastresortottomansiyaqnumbers</key>
	<string>lastresortottomansiyaqnumbers.glif</string>
	<key>lastresortarabicmathalphasym</key>
	<string>lastresortarabicmathalphasym.glif</string>
	<key>lastresortmahjongtiles</key>
	<string>lastresortmahjongtiles.glif</string>
	<key>lastresortdominotiles</key>
	<string>lastresortdominotiles.glif</string>
	<key>lastresortplayingcards</key>
	<string>lastresortplayingcards.glif</string>
	<key>lastresortenclalphasuppl</key>
	<string>lastresortenclalphasuppl.glif</string>
	<key>lastresortenclideographicsuppl</key>
	<string>lastresortenclideographicsuppl.glif</string>
	<key>lastresortmiscsymandpict</key>
	<string>lastresortmiscsymandpict.glif</string>
	<key>lastresortemoticons</key>
	<string>lastresortemoticons.glif</string>
	<key>lastresortornamentaldingbats</key>
	<string>lastresortornamentaldingbats.glif</string>
	<key>lastresorttransportandmapsym</key>
	<string>lastresorttransportandmapsym.glif</string>
	<key>lastresortalchemicalsym</key>
	<string>lastresortalchemicalsym.glif</string>
	<key>lastresortgeometricshapesext</key>
	<string>lastresortgeometricshapesext.glif</string>
	<key>lastresortsupplementalarrowsc</key>
	<string>lastresortsupplementalarrowsc.glif</string>
	<key>lastresortsupplementalsymbpict</key>
	<string>lastresortsupplementalsymbpict.glif</string>
	<key>lastresortchesssymbols</key>
	<string>lastresortchesssymbols.glif</string>
	<key>lastresortsymbpictexta</key>
	<string>lastresortsymbpictexta.glif</string>
	<key>lastresortlegacycomputingsymb</key>
	<string>lastresortlegacycomputingsymb.glif</string>
	<key>lastresortnotaunicode1</key>
	<string>lastresortnotaunicode1.glif</string>
	<key>lastresortnotdefplanetwo</key>
	<string>lastresortnotdefplanetwo.glif</string>
	<key>lastresortcjkextb</key>
	<string>lastresortcjkextb.glif</string>
	<key>lastresortcjkextc</key>
	<string>lastresortcjkextc.glif</string>
	<key>lastresortcjkextd</key>
	<string>lastresortcjkextd.glif</string>
	<key>lastresortcjkexte</key>
	<string>lastresortcjkexte.glif</string>
	<key>lastresortcjkextf</key>
	<string>lastresortcjkextf.glif</string>
	<key>lastresortcjkexti</key>
	<string>lastresortcjkexti.glif</string>
	<key>lastresortcjkideocompatsup</key>
	<string>lastresortcjkideocompatsup.glif</string>
	<key>lastresortnotaunicode2</key>
	<string>lastresortnotaunicode2.glif</string>
	<key>lastresortnotdefplanethree</key>
	<string>lastresortnotdefplanethree.glif</string>
	<key>lastresortcjkextg</key>
	<string>lastresortcjkextg.glif</string>
	<key>lastresortcjkexth</key>
	<string>lastresortcjkexth.glif</string>
	<key>lastresortnotaunicode3</key>
	<string>lastresortnotaunicode3.glif</string>
	<key>lastresortnotdefplanefour</key>
	<string>lastresortnotdefplanefour.glif</string>
	<key>lastresortnotaunicode4</key>
	<string>lastresortnotaunicode4.glif</string>
	<key>lastresortnotdefplanefive</key>
	<string>lastresortnotdefplanefive.glif</string>
	<key>lastresortnotaunicode5</key>
	<string>lastresortnotaunicode5.glif</string>
	<key>lastresortnotdefplanesix</key>
	<string>lastresortnotdefplanesix.glif</string>
	<key>lastresortnotaunicode6</key>
	<string>lastresortnotaunicode6.glif</string>
	<key>lastresortnotdefplaneseven</key>
	<string>lastresortnotdefplaneseven.glif</string>
	<key>lastresortnotaunicode7</key>
	<string>lastresortnotaunicode7.glif</string>
	<key>lastresortnotdefplaneeight</key>
	<string>lastresortnotdefplaneeight.glif</string>
	<key>lastresortnotaunicode8</key>
	<string>lastresortnotaunicode8.glif</string>
	<key>lastresortnotdefplanenine</key>
	<string>lastresortnotdefplanenine.glif</string>
	<key>lastresortnotaunicode9</key>
	<string>lastresortnotaunicode9.glif</string>
	<key>lastresortnotdefplaneten</key>
	<string>lastresortnotdefplaneten.glif</string>
	<key>lastresortnotaunicode10</key>
	<string>lastresortnotaunicode10.glif</string>
	<key>lastresortnotdefplaneeleven</key>
	<string>lastresortnotdefplaneeleven.glif</string>
	<key>lastresortnotaunicode11</key>
	<string>lastresortnotaunicode11.glif</string>
	<key>lastresortnotdefplanetwelve</key>
	<string>lastresortnotdefplanetwelve.glif</string>
	<key>lastresortnotaunicode12</key>
	<string>lastresortnotaunicode12.glif</string>
	<key>lastresortnotdefplanethirteen</key>
	<string>lastresortnotdefplanethirteen.glif</string>
	<key>lastresortnotaunicode13</key>
	<string>lastresortnotaunicode13.glif</string>
	<key>lastresortnotdefplanefourteen</key>
	<string>lastresortnotdefplanefourteen.glif</string>
	<key>lastresorttags</key>
	<string>lastresorttags.glif</string>
	<key>lastresortvariationselectorssupplement</key>
	<string>lastresortvariationselectorssupplement.glif</string>
	<key>lastresortnotaunicode14</key>
	<string>lastresortnotaunicode14.glif</string>
	<key>lastresortprivateplane15</key>
	<string>lastresortprivateplane15.glif</string>
	<key>lastresortnotaunicode15</key>
	<string>lastresortnotaunicode15.glif</string>
	<key>lastresortprivateplane16</key>
	<string>lastresortprivateplane16.glif</string>
	<key>lastresortnotaunicode16</key>
	<string>lastresortnotaunicode16.glif</string>
</dict>
</plist>
